// note: 這一頁 res 比較多
// note: search `@media screen` for responsiveness


.story-card {
  display: block;

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
  }

  .story-cover-container {
    .story-cover {
      width: 100%; @media screen and (max-width: 800px) { width: 200px; }; @media screen and (max-width: 700px) { width: 160px; }; @media screen and (max-width: 600px) { width: 100px; };
      padding-top: 56.25%;
      position: relative;
      box-sizing: content-box;

      img {
        position: absolute;
        width: 100%; height: 100%; left: 0; top: 0; object-fit: cover;
      }
    }
  }

  .story-info-container {
    margin-top: 12px; @media screen and (max-width: 800px) { margin-top: 0 };
    .story-info {
      .story-title {
        font-family: var(--font-family-article);
        font-weight: bold;
      }

      .story-brief {
        font-size: 14px;
        margin-top: 8px;

        color: var(--text-color-secondary-trans);

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; @media screen and (max-width: 800px) { -webkit-line-clamp: 2; };
        -webkit-box-orient: vertical;
      }
    }

    .story-author-info-container {
      display: flex;
      margin-top: 12px;

      .story-author-avata {
        width: 24px; height: 24px;
        overflow: hidden;
        border-radius: 1000px;
        
        img {
          position: absolute;
          width: 100%; height: 100%; left: 0; top: 0; object-fit: cover;
        }
      }

      .story-author-caption {
        font-size: 14px;
        line-height: 24px;
        margin-left: 8px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;

        .story-author-name {
          display: inline;
          font-weight: bold;
        }

        .story-update {
          display: inline;      
          color: var(--text-color-secondary-trans);

          &::before {
            content: " · ";
          }    
        }
      }
    }
  }
}
