.section-header {
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--stroke-color-main-trans);
  margin-bottom: 24px;

  .section-title {
    font-size: 24px;
    line-height: 36px;
    font-family: var(--font-family-article);
    font-weight: bold;
  }
  
  .section-btn {
    vertical-align:baseline;
    font-size: 14px;
    line-height: 36px;
    color: var(--b-color);
  }
}