:root {
  --nav-height: 56px;

  // colors
  // ====================================
  --b-color: rgba(235, 62, 72, 1);
  --b-color-bg-trans: rgba(235, 62, 72, 0.08);
  --b-color-highlight-trans: rgba(235, 62, 72, 0.16);

  --color-yellow: rgb(253, 221, 81);

  --text-color-main-trans: rgba(0, 0, 0, 0.84);
  --text-color-secondary-hex: #858585;
  --text-color-secondary-trans: rgba(0, 0, 0, 0.48);
  --text-color-negative-trans: rgba(0, 0, 0, 0.24);

  --stroke-color-main-trans: rgba(0, 0, 0, 0.08);

  // z-indices，即元素的層數高度
  // ====================================
  --z-index-nav: 10000;

}

// fonts
// ====================================

:root {
  --font-family-system: inter, -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

  --font-family-article: "Noto Serif TC", serif;
}


// 導入 material design icons
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');
.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 40;
}

// 規定系統字體
html {
  font-family: var(--font-family-system);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // 这个用于改变字体大小
  --book-font-size: 18px;
}

body {
  color: var(--text-color-main-trans);
  line-height: 1.5;
}